.pulse::before{
	content: '';
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0 3px;
	border-radius: 50%;
	box-shadow: rgba(57, 57, 199, 0.627) 0px 0px 0px;
	background: rgba(57, 57, 199, 0.5);
	animation: pulse 2s infinite;
	pointer-events: none;
}
@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;
	}
	50% {
		transform: scale(1.5);
		opacity: 1;
	}
	100% {
		transform: scale(0.9);
		opacity: 0.7;
	}
}
